/*** BASE STYLES ***/

body {
    background-color: #f1f1f1;
    color: #59130b;
    font-family:'Spectral', serif;
    max-width: 1400px;
}

main h3 {
    margin: 0;
    padding: 25px;
}



/*** GRID ***/

.full-width {
    max-width: 100%;
    
}
.half-width {
    float: left;
    margin: 20px 50px 20px 50px;
    width: 550px;
}

.third-width {
    width: 28%;
    margin-left: 50px;
}

#portfolio {
    height: 925px;
}

#about {
    height: 525px;
}

#contact {
    height: 300px;
}


/*** HEADER ***/

header {
    background-image: url('../img/hero-image4.jpg');
    background-size: cover;
    height: 800px;
}

header .third-width {
    text-align: center;
    padding: 20% 0 0 20%;
}

header .third-width h1 {
    margin-top: 0;
}

header .third-width h1 span {
    color: #594319;
}

header .third-width ul {
    color: #594319;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    list-style: none;
    border: 1px solid white;
    margin: 15%;
    padding: 20px;
    width: 200px;
}

/*** insert curly brackets around self-description and styling later on ***/


    /*NAV*/
nav {
    float: left;
    margin: 0;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-transform: lowercase;
    text-decoration: none;
    font-size: 14px;
    color: #401010;
    padding-left: 30px;
}

/*** PORTFOLIO ***/


main #portfolio h3 {
    font-size: 22px;
    text-align: center;
}

main #prj1, #prj2 {
    float: left;
}

main #prj1title, #prj1txt, #prj2title, #prj2txt {
    font-family: 'Karla', sans-serif;
    margin-left: 50px;
    width: 450px;
}

main #prj1title, #prj2title {
    font-size: 20px;
    line-height: 0px;
    padding: 10px 0 10px 0;
}

main #prj1title a, #prj2title a {
    font-weight: 600;
    text-decoration: none;
    color: #59130b;
}

main #prj1title h5, #prj2title h5 {
    font-weight: 400;
    margin: 20px 0 0 0;
}

main div #prj1txt, #prj2txt {
    margin-top: 0;
}
main #prj1txt p, #prj2txt p {
    line-height: 22px;
    text-align: justify;
    margin-top: 0;
}


/*** ABOUT SECTION ***/

main #about {   /*whole section*/
    background-color: #401010;
    color: #f1f1f1;
    clear: both;
}

main #about h3 {    /*section title*/
    font-size: 22px;
    text-align: center;
}
    
main #bio {     /***bio text div ***/
    font-family: 'Karla', sans-serif;
    text-align: justify;
    margin-left: 100px;
    width: 450px;
}

main #about img {
    border: 1px solid #f1f1f1;
    margin: 0 100px 0 100px;
}



/*** CONTACT SECTION ***/

main #contact {
    background-color: #571B11;
    color: #f1f1f1;
    clear: both;
}

main #contact h3 {
    font-size: 22px;
    text-align: center;
}

main #contact .third-width {
    float: left;
    font-family: 'Karla', sans-serif;
    text-align: center;
}

main #contact .third-width h4 {
    font-weight: 700;
}

main #follow p, #meet p {
    font-weight: 400;
}

main #follow ul {
    list-style: none;
    padding: 0;
}

main #follow ul li {
    display: inline-block;
}



/*** FOOTER SECTION ***/
footer {
    background-color: #571B11;
    color: #f1f1f1;
    clear: both;
    text-align: center;
}

footer #attributions {
    font-size: 10px;
    color: #f1f1f1;
    font-size: 10px;
}

footer a {
    color: #cbcbcb;
    font-size: 10px;
    text-decoration: none;
}